@import url(burger.css);
.section1 h2:before, .section2 h2:before, .section3 h2:before, .section3 .container_flex .man_block .info_holder span, .section4 h2:before {
  display: block;
  text-transform: uppercase;
  font: 13px OpenSansSemibold;
  color: #d4af37;
  margin-bottom: 4px; }

.section1 h2, .section2 h2, .section3 h2, .section4 h2 {
  font: 44px OpenSansSemibold;
  color: #021725;
  opacity: 0.7;
  text-align: center; }

.section1 p, .section3 p {
  text-align: center;
  color: #021725;
  font: 18px OpenSansLight;
  line-height: 32px; }

.section1 a, .section4 .post_holder .post a, .section4 a {
  display: inline-block;
  padding-left: 46px;
  padding-right: 46px;
  line-height: 55px;
  border: 1px solid #000000;
  text-decoration: none;
  font-size: 14px;
  font-family: 'OpenSansLight';
  color: #021725; }

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSansSemibold.eot");
  src: url("../fonts/OpenSansSemibold.eot") format("embedded-opentype"), url("../fonts/OpenSansSemibold.woff2") format("woff2"), url("../fonts/OpenSansSemibold.woff") format("woff"), url("../fonts/OpenSansSemibold.ttf") format("truetype"), url("../fonts/OpenSansSemibold.svg#OpenSansSemibold") format("svg"); }
@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight.eot") format("embedded-opentype"), url("../fonts/OpenSansLight.woff2") format("woff2"), url("../fonts/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight.ttf") format("truetype"), url("../fonts/OpenSansLight.svg#OpenSansLight") format("svg"); }
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular.eot") format("embedded-opentype"), url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype"), url("../fonts/OpenSansRegular.svg#OpenSansRegular") format("svg"); }
* {
  padding: 0;
  margin: 0; }

.block {
  max-width: 769px;
  margin: auto; }

.banner {
  position: relative; }
  .banner img {
    width: 100%;
    z-index: 0; }
  .banner h1 {
    font-family: 'OpenSansLight';
    font-size: 80px;
    font-weight: 300;
    color: #f9f9f9;
    text-transform: capitalize;
    position: absolute;
    top: 44%;
    left: 50%;
    margin-left: -482px; }
    @media screen and (max-width: 812px) {
      .banner h1 {
        font-size: 50px;
        margin-left: -301px; } }
    .banner h1 span {
      font-style: italic; }

.container {
  max-width: 1185px;
  margin: auto; }

header {
  width: 100%;
  position: absolute;
  top: 0;
  padding-top: 16px;
  z-index: 1; }
  header .menu {
    text-decoration: none;
    color: #f9f9f9;
    font-family: OpenSansSemibold;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    right: 50px;
    bottom: 10px; }
  header .navBurger {
    width: 18px;
    position: relative;
    right: 0;
    top: 10px; }
    header .navBurger:before {
      top: -4px; }
    header .navBurger:after {
      bottom: -4px;
      width: 100%; }
    header .navBurger.active:before, header .navBurger.active:after {
      width: 100%; }
  header .overlay {
    background: #3977a8; }
  header .overlayMenu ul li a {
    border: none;
    text-transform: uppercase;
    font-family: 'OpenSansSemibold'; }
    header .overlayMenu ul li a:hover, header .overlayMenu ul li a:active, header .overlayMenu ul li a:focus {
      outline: none;
      background: transparent; }
  header .flex_container {
    display: flex;
    justify-content: space-between; }

.section1 {
  padding-top: 110px;
  padding-bottom: 160px;
  text-align: center; }
  .section1 h2 {
    padding-bottom: 51px; }
    .section1 h2:before {
      content: "Who we Are"; }
  .section1 p {
    padding-bottom: 43px; }

.section2 {
  width: 100%;
  padding-bottom: 72px; }
  .section2 h2 {
    padding-bottom: 77px; }
    .section2 h2:before {
      content: "What we do"; }
  .section2 .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .section2 .gallery img {
      flex-basis: auto;
      width: 24.9%;
      margin-bottom: 1px; }

.section3 {
  padding-bottom: 129px; }
  .section3 h2 {
    padding-bottom: 42px; }
    .section3 h2:before {
      content: "Who we are"; }
  .section3 p {
    padding-bottom: 46px; }
  .section3 .container_flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    @media screen and (max-width: 768px) {
      .section3 .container_flex {
        flex-direction: column;
        align-items: center; } }
    .section3 .container_flex .man_block {
      width: 247px;
      background-color: #f9f9f9; }
      .section3 .container_flex .man_block img {
        display: block; }
      .section3 .container_flex .man_block .info_holder {
        padding: 16px 18px 44px; }
        .section3 .container_flex .man_block .info_holder span {
          margin-bottom: 12px; }
        .section3 .container_flex .man_block .info_holder h3 {
          text-transform: capitalize;
          color: #021725;
          opacity: 0.7;
          font-size: 21px;
          font-family: 'OpenSansRegular';
          padding-bottom: 30px; }
        .section3 .container_flex .man_block .info_holder p {
          font-size: 13px;
          font-family: 'OpenSansLight';
          color: #021725;
          text-align: left;
          line-height: 24px; }

.section4 {
  text-align: center;
  padding-bottom: 158px; }
  .section4 h2 {
    padding-bottom: 51px; }
    .section4 h2:before {
      content: "last post"; }
  .section4 .post_holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'OpenSansRegular';
    margin-bottom: 84px;
    color: #505d68;
    text-align: left; }
    .section4 .post_holder img {
      margin: auto; }
    .section4 .post_holder .post {
      background-color: #f9f9f9;
      padding: 39px 36px 60px 40px;
      max-width: 384px;
      box-sizing: border-box; }
      .section4 .post_holder .post h3 {
        font-size: 30px;
        padding-bottom: 21px;
        font-weight: 500; }
        .section4 .post_holder .post h3:before {
          content: "14 September 2014";
          display: block;
          font-size: 13px;
          padding-bottom: 8px; }
      .section4 .post_holder .post p {
        font-size: 16px;
        font-family: 'OpenSansLight';
        line-height: 24px;
        padding-bottom: 54px; }
      .section4 .post_holder .post a {
        line-height: 48px; }

/*# sourceMappingURL=style.css.map */
